<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head')%>
  <body>
    <div class="error-container">
      <h1 class="title123">404</h1>
      <h2>¡Ups! Página no encontrada</h2>
      <p>Lo sentimos, la página que estás buscando no existe o fue movida.</p>
      <button class="btn" onclick="volverInicio()">Volver al inicio</button>
    </div>
    <script src="/js/error404.js"></script>
  </body>
</html>
