<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header') %>
    <section class="hero">
        <h2>Bienvenidos al evento más esperado del año</h2>
        <p>Conocé a nuestras candidatas, votá por tu favorita y viví una experiencia única llena de elegancia, simpatía y juventud.</p>
        <a href="#" class="btn-register">Ver Candidatas</a>
      </section>
    
      <section class="candidatas">
        <h2>Nuestras Candidatas</h2>
        <div class="cards">
          <div class="card">
            <img src="img/candidata1.jpg" alt="Candidata 1">
            <h3>Camila Torres</h3>
            <p>Representando a 5to 1ra</p>
          </div>
          <div class="card">
            <img src="img/candidata2.jpg" alt="Candidata 2">
            <h3>Luz Fernández</h3>
            <p>Representando a 5to 2da</p>
          </div>
          <!-- Puedes seguir agregando más candidatas -->
        </div>
      </section>
    <%- include('./partials/footer') %>
</body>
</html>