<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
  <section class="center-container">
    <div class="register-container">
        <h2>Iniciar Sesión</h2>
        <ul class="errores">
        </ul>
        <% if(locals.error && error != null) { %>
          <p class="error"><%= error %></p>
          <% } %>
        <form action="/users/login" method="POST">
          <div class="input-group">
            <i class="fas fa-envelope icon"></i>
            <span class="wave"></span>
            <input id="correo" type="email" placeholder="Correo" name="correo" value="<%= locals.old && old.correo ? old.correo : '' %>">
          </div>
          <div class="input-group">
            <i class="fas fa-lock icon"></i>
            <span class="wave"></span>
            <input type="password" placeholder="Contraseña" id="password" name="password">
          </div>
    
          <div class="options">
            <a href="#">¿Olvidaste tu contraseña?</a>
          </div>
    
          <button class="btn-register" type="submit">Entrar</button>
    
          <div class="redirect">
            ¿No tienes cuenta? <a href="register">Regístrate aquí</a>
          </div>
        </form>
      </div>
    </section>
      <script src="/js/loginUserValidator.js"></script>
</body>
</html>